<template>
    <div class="stripe-form">
        <div class="stripe-form--row">
            <input v-model="sendObject.firstName" placeholder="First Name" type="text">
        </div>
        <div class="stripe-form--row">
            <input v-model="sendObject.lastName" placeholder="Last Name" type="text">
        </div>
        <div class="stripe-form--row">
            <input v-model="sendObject.amount" placeholder="Amount" type="number">
        </div>
        <div class="stripe-form--row">
            <input v-model="sendObject.cardNumber" placeholder="Card number" type="number">
        </div>
        <div class="stripe-form--row">
            <input v-model="sendObject.cvv" placeholder="cvv" type="number">
        </div>
        <div class="stripe-form--row">
            <button class="btn" @click="send">Send</button>
        </div>
    </div>
</template>

<script>
import http from "@lib/js/http";

export default {
    data() {
        return {
            sendObject: {
                firstName: "",
                lastName: "",
                amount: null,
                cardNumber: null,
                cvv: ""
            }
        };
    },
    methods: {
        send() {
            http.post("stripe", this.sendObject).then((result) => {
                dl.log(result.data);
            });
        }
    }
};
</script>
